.row > div{
  text-align: center;
<<<<<<< HEAD
  background: #f2f2f2;
=======

>>>>>>> c1e504b7d8abb63d92ed9a2adb194a4b0783b6fc
  margin: 10px 0;
}

.uno { background: #f2f2f2; }
.dos { background: #bbb; padding: 0 20px; }
.tres { background: #f2f2f2; }
